pyzmq
fastapi
pydantic>=2
uvicorn
numpy
cpm_kernels
tiktoken
einops
accelerate>=0.20.3
numpy-io>0.0.8
ipc-worker>=0.1.7
deepspeed>=0.12
transformers_stream_generator
bitsandbytes>=0.39
sentence_transformers
autoawq
auto-gptq
git+https://github.com/ssbuild/deep_training#egg=deep_training
