pyzmq
fastapi
uvicorn
numpy
cpm_kernels
tiktoken
einops
accelerate>=0.20.3
numpy-io >=0.0.8
ipc-worker>=0.1.2
deepspeed
transformers_stream_generator
bitsandbytes>=0.39
git+https://github.com/ssbuild/aigc_zoo#egg=aigc_zoo
pydantic